/* Alineamos el título y el icono horizontalmente */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

body {
    background-color: #5d7f3f; /* Fondo verde naturaleza */
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo del encabezado */
h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 2rem;
}

.encabezado {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Formulario centrado */
main {
    margin: 0 auto;
    max-width: 800px;
}

main section {
    max-width: inherit;
}

#formularioSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Centrado vertical */
}

.formClima {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
    color: black;
}

.divClima {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
}

.divClima input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.divClima select {
    width: 150px;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
}

.divClima input[type="submit"] {
    width: 150px;
    padding: 10px;
    font-size: 14px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.divClima input[type="submit"]:hover {
    background-color: #367a3c;
}

.rango {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#divDatos {
    display: none;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    margin-top: 2rem;
    /* width: 90%; */
    /* max-width: 400px; */
    color: black;
    h2 {
        text-align: center;
        font-weight: 200;
    }
}

#divDatos img {
    width: 100px;
}

#parametros {
    font-weight: 600;
}

.clima-container {
    padding: 1rem;
    font-family: Arial, sans-serif;
}

.clima-flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 3rem;
    flex-wrap: wrap;
}

.columna-izquierda, .columna-derecha {
    flex: 1;
    min-width: 280px;
}

#sensacionTermica {
    margin-bottom: 2rem;
    p{
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0.5rem 0;
    }
}

#sensacionTermica .valor-destacado {
    font-size: 2.5rem;
    font-weight: bold;
    color: #d9534f;
    margin-top: 0.5rem;
}

.param-col p,  #descripcion p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0.5rem 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}

#descripcion {
    text-align: right;
    margin-bottom: 2rem;
}

#descripcion img {
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;
}

#parametros {
    font-weight: 600;
}

/* Sección para el clima por días */
#sectionClimaDia {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

form {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="submit"] {
    width: 150px;
    padding: 10px;
    font-size: 14px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

